html, body {
    height: 100%;
}
body {
    background: url( "../img/baggage_bkgd.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-color: #111111;
}
.fifth_column {
    width: 360px;
    height: 680px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 17px;
}
#col_1 {  position: absolute; left:0; }
#col_2 {  position: absolute; left:380px; }
#col_3 {  position: absolute; left:760px; }
#col_4 {  position: absolute; left:1140px; }
#col_5 {  position: absolute; left:1520px; }

h1, h2, h3 {
    font-family: 'PT Mono', monospace;
    margin: 0;
    padding: 0;
    line-height: 60px;
    font-weight: lighter;
    font-kerning: none;
}
h1#first_line {
    line-height: 48px;
    padding-bottom: 8px;
}
h1, h2 {
    font-size: 32pt;
    letter-spacing: 20px;
}
h3 {
    font-size: 22pt;
    letter-spacing: 6px;
}
.grey_column {
    background-color: #333333;
    font-family: 'PT Mono', monospace;
    color: #F8E106;
}
.clear_column {
    background-color: transparent;
}

#flight_times {
    position: absolute;
    top: 97px;
    left: 697px;
    width: 530px;
    background: #F8E106;
    padding: 0;
}
#flight_times table {
    width: 530px;
}
#flight_times #home_span {
    height: 36px;
}
#flight_times #th_clock {
    padding-right: 10px;
}
#flight_times #eu_flag{
    float:left;
    margin-top: 6px;
    margin-left: 0;
    margin-bottom:6px;
    margin-right: 10px;
    width:40px;
    height: 26px;
}
#flight_times span#clock_time{
    font-size:1.5em;
}
#baggage_title{
    font-family: 'robotobold', sans-serif;
    float:left;
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing:0.08em;
}
#baggage_svg {
    width: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#lost_luggage {
    position: absolute;
    top: 66px;
    left: 1616px;
    width: 208px;
    background: #F8E106;
    padding: 0;
}
#lost_luggage:hover {
    background: #FFFFFF;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#belt {
    position: absolute;
    left: 0;
    top: 459px;
    /*background: #ff0000;*/
    width:1920px;
    height:227px;
    vertical-align: baseline;
}

#baggages {
    height:227px;

}

.baggage {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    width: 150px;
}


.footer {
    height: 50px;
    background: #F8E106;
    color: #0a0a0a;
}
