html, body {
    height: 100%;
}
#wrapper {
    background: url( "../img/baggage_bkgd.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-color: #111111;
}
.fifth_column {
    width: 360px;
    height: 680px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 17px;
}
#col_1 {  position: absolute; left:0; }
#col_2 {  position: absolute; left:380px; }
#col_3 {  position: absolute; left:760px; }
#col_4 {  position: absolute; left:1140px; }
#col_5 {  position: absolute; left:1520px; }

h1, h2, h3 {
    font-family: 'PT Mono', monospace;
    margin: 0;
    padding: 0;
    line-height: 60px;
    font-weight: lighter;
    font-kerning: none;
}
h1#first_line {
    line-height: 48px;
    padding-bottom: 8px;
}
h1, h2 {
    font-size: 32pt;
    letter-spacing: 20px;
}
h3 {
    font-size: 22pt;
    letter-spacing: 6px;
}
.grey_column {
    background-color: #333333;
    font-family: 'PT Mono', monospace;
    color: #F8E106;
}
.clear_column {
    background-color: transparent;
}

#flight_times {
    position: absolute;
    top: 97px;
    left: 697px;
    width: 530px;
    /*background: #F8E106;*/
    padding: 0;
}
#flight_times table {
    width: 530px;
}
#flight_times tr {
    height: 40px;
}
#flight_times thead, #flight_times thead th {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}
#flight_times #home_span {
    height: 36px;
}
#flight_times #eu_flag, #flight_times #home_link_rollover{
    float:left;
    margin-top: 6px;
    margin-left: 0;
    margin-bottom:3px;
    margin-right: 10px;
    width:40px;
    height: 26px;
}
#flight_times #home_link_rollover{
    display: none;
}
#flight_times #th_clock {
    padding-right: 10px;
}

#flight_times span#clock_time{
    font-size:1.2em;
}
#baggage_title {
    font-family: 'robotobold', sans-serif;
    float:left;
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing:0.08em;
}
#baggage_svg {
    width: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}


#flight_times tr {
    font-size: 100%;
}
#flight_times .flight_headers {
    color: #FFFFFF;
    font-weight: bold;
    font-size:1.2em;
}
tbody tr:nth-child(even) {
    /*  flight_details  */
    background-color: #222222 !important;
}

#flight_times #th_time      {   width: 25%;     }
#flight_times #th_flight    {   width: 24%;     }
#flight_times #th_from      {   width: 24%;     }
#flight_times #th_clock     {      width: 24%;   }


#arrivals {
    height: 88px;
    background: #F8E106;
    color: #0a0a0a;
    width: 1920px;
}
#arrivals table {
    width: 1920px;
}
#arrivals tr {
    height: 88px;
}
#arrivals thead, #arrivals thead th {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}
#arrivals #th_home {
    width:400px;
    padding-left: 0;
    padding-right: 0;
}
#arrivals #home_span_2 {
    height: 80px;
}

#arrivals #eu_flag_2, #arrivals #home_link_rollover_2 {
    float:left;
    margin-top: 10px;
    margin-left: 18px;
    margin-bottom:3px;
    margin-right: 18px;
    width: 94px;
    height: 65px;
}
#arrivals #home_link_rollover_2 {
    display: none;
}
#arrivals_title {
    font-family: 'robotobold', sans-serif;
    float:left;
    font-size: 3.5em;
    font-weight: bolder;
    color: #111111;
    letter-spacing:0.08em;
}

/*#ticker {*/
/*    overflow: hidden;*/
/*    width: 800px;*/
/*    height: 30px;*/
/*}*/

/*.arrivals_flight {*/
/*    margin-right: 40px;*/
/*    font-family: 'PT Mono', monospace;*/
/*    float:left;*/
/*    font-size: 1.5em;*/
/*    font-weight: bolder;*/
/*    color: #111111;*/
/*    letter-spacing:0.08em;*/
/*}*/
#lost_luggage {
    position: absolute;
    top: 66px;
    left: 1616px;
    width: 208px;
    background: #F8E106;
    padding: 0;
}
#lost_luggage:hover {
    background: #FFFFFF;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -88px;
}




#belt {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 480px;
    /*!*background: #ff0000;*!*/
    width:1920px;
    height:230px;
    /*vertical-align: baseline;*/
}

#baggages {
    position:absolute;
    /*top: 480px;*/
    white-space: nowrap;
    height: 500px;
    width: 5000px;

}

#ytplayer {
    margin: auto;
    width: 1280px;
    height: 960px;
    display: none;
}



/* https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/ */
.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
/*    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));*/
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
/*    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: running;*/
}

.marquee div.marquee_repeat {
    margin-right: 40px;
    font-family: 'PT Mono', monospace;
    float:left;
    font-size: 1.5em;
    font-weight: bolder;
    color: #111111;
    letter-spacing:0.08em;
    /*font-size: 1.5em;*/
    /*padding: 0 2vw;*/
    height: 40px;
}

.marquee span.marquee_repeat span {
    float:left;
}

/*
@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
*/
