@import url('https://fonts.googleapis.com/css?family=PT+Mono|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
    color:#fff;
}
p { font-family: 'Roboto', sans-serif; }
table {
    margin:0;
    width:1920px;
}
thead, thead th {
    background-color: #F8E106;
    border: 0;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

thead{
    color: #111111;
    width:100%;
}

#th_clock {
    text-align: right;
    padding-right: 40px;
}
span#clock_time{
    font-family: 'PT Mono', monospace;
    font-weight: bold;
    text-align: right;
    font-size:5.5em;
}
span#clock_hour, span.clock_colon, span#clock_minute, span#clock_second {
    margin: 0;
    padding: 0;
}
tbody, tbody tr, #td_transfer, #td_onward {
    background-color: #111111 !important;
    color:#fff !important;
    border:0;
}
.displays input {
    background-color: #111111 !important;
    border: 0;
}

tbody tr {
    font-weight: bold;
    font-size:1.5em;
}
tbody td {
    padding:0;
}
#th_time, #th_flight, #th_from, #th_arrived, #th_transfer {
    font-family: 'robotobold', sans-serif;
}

tbody td#th_time {
    padding-top: 2px;
    padding-bottom: 2px;
}

tbody td.td_time {
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'PT Mono', monospace;
}

.flight_headers {
    color: #FFFFFF;
    font-weight: bold;
    font-size:1.5em;
}

.from_flag{
    margin-right:5px;
    vertical-align: middle;
    width:10%;
}

.red_text {
    color: #ff0000;
}

.flight_number {
    color: #ffff99;
    font-family: 'PT Mono', monospace;
}


#th_time {
    width: 12%;

}

#th_flight {
    width: 11%;
}

#th_from {
    width: 20%;
}

#th_arrived {
    width: 30%;
}


#point_left_svg, #point_right_svg {
    width: 40px;
    margin-left: 20px;
}
#point_left_svg {
    margin-bottom: 30px;
}


.activity {
    margin:5px;
}
.activity.verse {
    margin: 50px;
}

.displays{
    padding: 15px 35px;
    width: 1890px;
    height: 800px;
}

#eu_flag{
    float:left;
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom:16px;
    margin-right: 30px;
    width:140px;
    height: 96px;
}

#home_link_rollover{
    float:left;
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom:16px;
    margin-right: 30px;
    width:140px;
    height: 96px;
    display: none;
}

#home_span {
    height: 132px;
}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

@media (min-width: 1920px) {
    div#small {
        display:none
    }
    div#body {
        display:block;
    }
}

@media (max-width: 1919px) {
    body {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 1920px 1080px;
        background-color: #111111;
    }
    div#small {
        display: block;
        max-width: 500px;
        padding: 20px;
    }
    div#body {
        display:none;
    }
}
