
#displays {
    background: url('../img/bkgd.png') no-repeat;
    width: 1890px;
}

#lost_luggage_title{
    font-family: 'robotobold', sans-serif;
    float:left;
    font-size: 5.5em;
    font-weight: bolder;
    letter-spacing:0.08em;
}

#lost_luggage_svg {
    width: 90px;
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}

.tr_head {
    height: 107px;
}

#td_head_1, #td_head_14{
    padding-left: 50px;
    width: 157px;
}

.td_head {
    width: 107px;
    height: 107px;
}

.head {
    border:8px black solid;
    opacity: 30%;
}

img.head_row_1 {
    margin-top: 16px;
}

.poem_head {
    opacity: 100%;
}

.selected_head {
    opacity: 100%;
    border:8px #F8E106 solid;
}

#hidden_yellow_heads {
    display: none;
}

#country_name {
    text-align: right;
    font-size: 16pt;
    font-weight: bolder;
    padding-top: 10px;
    padding-right: 35px;
}

#arrivals_text {
    margin-top:16px;
    color: #F8E106;
    font-size: 32pt;
    float: left;
    letter-spacing:0.08em;
}

#td_flag {
    width: 220px;
    text-align: right;
}

#flag {
    width: 75px;
    height: 55px;
}

#flag_wrap {
    padding-top: 20px;
    padding-left: 110px;
}


#td_controls {
    padding-left: 15px;
}

#reload, #audio_switch {
    float: left;
    width: 75px;
    margin: 7px;
}

#reload:focus, #audio_switch:focus {
    outline: 0;
}


#arrivals_btn, #baggage_reclaim_btn {
    width: 220px;
}
