
#displays {
    background: url('../img/bkgd.png') no-repeat;
    width: 1890px;
}
#home_link_rollover{
    float:left;
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom:16px;
    margin-right: 30px;
    width:140px;
    display: none;
}

#lost_luggage_title{
    font-family: 'robotobold', sans-serif;
    float:left;
    font-size: 5.5em;
    font-weight: bolder;
    letter-spacing:0.08em;
}

#lost_luggage_svg {
    width: 90px;
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}

.tr_head {
    height: 107px;
}
#td_head_1, #td_head_14{
    padding-left: 50px;
    width: 157px;
}
.td_head {
    width: 107px;
    height: 107px;
}
.head {
    border:8px black solid;
}
.selected_head {
    border:8px #F8E106 solid;
}

#country_name {
    text-align: center;
    font-size: 18pt;
    font-weight: bolder;
}

#arrivals_text {
    color: #F8E106;
    font-size: 32pt;
}

#td_arrivals_arrow {
    padding-left: 20px;
    vertical-align: top;
}

#td_flag {
    width: 220px;
    padding: 20px;
    text-align: center
}
#flag {
    width: 180px;
    height: 180px;
}

#td_controls {
    padding-left: 18px;
}
#arrivals_arrow_svg {
    width:45px;
}
#reload, #audio_switch {
    float: left;
    width: 85px;
    margin: 7px;
}
#reload:focus, #audio_switch:focus {
    outline: 0;
}
